<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101567533255-n770fo8od02g5gtt89r7bn08ch6ill9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101567533255-n770fo8od02g5gtt89r7bn08ch6ill9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAGKPud8vzGF2QM5guhl9wMV_G7BX81KYU</string>
	<key>GCM_SENDER_ID</key>
	<string>101567533255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lspusta.SwiftUIFirebaseFirestore</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebasefirestore</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebasefirestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101567533255:ios:9cced4ec7d2d45194f6ee2</string>
	<key>DATABASE_URL</key>
	<string>https://swiftuifirebasefirestore.firebaseio.com</string>
</dict>
</plist>